body {
    background-color: #cacaca;
}

.img_float {
    padding-right: 10px;
    float: left;
}

.logo {
    width:500px;
}

div {
    color: #363432;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    overflow: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5a2d04;
    text-shadow: 1px 1px saddlebrown;
}


h4 {
    color: #5a2d04;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px dotted saddlebrown;
    border-top: 1px dotted saddlebrown;
}

h2 {
    color: #5a2d04;
    letter-spacing: 2px;
    border-bottom: 1px dotted saddlebrown;
    border-top: 1px dotted saddlebrown;
}

a:link {
    color: saddlebrown;
}

a:visited {
    color: saddlebrown;
}

a:hover {
    color: darksalmon;
    background-color: saddlebrown;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s
}

.sidebar {
    width: 200px;
    vertical-align: top;
    border-right: 1px solid saddlebrown;
}

.sidebar:hover {
    background-color: #cbbdac;
}

a.navbar {
    display: block;
    border: 2px solid saddlebrown;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    padding: 3px 7px;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

ul.nav_items {
    list-style-type: none;
}

    ul.nav_items > li {
        margin: 20px 10px 10px -40px;
    }

input[type="submit"] {
    background-color: #8a6847;
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #cea175;
    color: black;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    background-color: bisque;
}

input[type="text"]:hover, input[type="date"]:hover {
    background-color: navajowhite;
}

textarea {
    background-color: bisque;
}

select {
    background-color: bisque;
}

select:hover {
    background-color: navajowhite;
}


